include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/graphic_walker *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/graphic_walker/migration *.ini *.py *.mako
recursive-include ckanext/graphic_walker/public *.*
